<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!--移动端预览-->
    <meta name="viewport" content="device-width, initial-scale=1.0">

    <title>后台管理-博客管理</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <!--引入自定义CSS-->
    <link rel="stylesheet" href="../plugins/blog/css/me.css">
</head>
<body>
    <!--导航-->
    <div id="indexApp">
        <nav replace="admin/_fragments :: menu(1)" class="ui inverted attached segment segment m-padded-tb-mini m-shadow-small">
            <div class="ui container">
                <div class="ui inverted secondary stackable menu">
                    <h2 class="ui teal header item">个人管理</h2>
                    <a href="../index.html" class="m-item item m-mobile-hide" ><i class="small tags icon"></i>前台</a>
                    <a href="index.html" class="m-item active item m-mobile-hide"><i class="small home icon"></i>个人中心</a>
                    <div class="right m-item item m-mobile-hide">
                        <form name="search" action=""  target="_blank" method="post">
                            <div class="ui icon inverted  input">
                                <input type="text" name="query" placeholder="Search.." value="">
                                <i onclick="document.forms['static.search'].submit()" class="search icon link"></i>
                            </div>
                        </form>
                    </div>
                    <div class="right m-item m-mobile-hide menu">
                        <div class="ui dropdown item">
                            <div class="text ">
                                <img class="ui avatar image" :src="users.userPicture">
                                <span type="text" >{{users.userName}}</span>
                            </div>
                            <i class="dropdown icon"></i>
                            <div class="menu">
                                <a href="#"  class="item">注销</a>
                                <a class="item" href="person.html">编辑个人信息</a>
                                <a class="item" href="notification.html">通知</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--menu toggle无任何显示意思-->
            <a href="" class="ui icon menu toggle black button m-right-top m-mobile-show">
                <i class="sidebar icon"></i>
            </a>
        </nav><!--二级导航-->
        <div class="ui attached pointing menu">
            <div class="ui container">
                <div class="right menu">
                    <a href="blogs-input.html" class="item">发布</a>
                    <a href="blogs.html"  class="item">列表</a>
                    <a href="favorites.html" class="item">我的收藏夹</a>
                    <a href="person.html" class="item">个人中心</a>
                </div>
            </div>
        </div>
        <!--中间内容-->
        <div class="m-container-small m-padded-tb-big">
            <!--适应移动端手机-->
            <div class="ui container">
                <h2>我的发布</h2>
                <!--查询表单-->
<!--                <div class="ui secondary segment form">-->
<!--                    <input type="hidden" name="page">-->
<!--                    <div class="inline fields">-->
<!--                        <div class="field">-->
<!--                            <input type="text" name="title" placeholder="标题">-->
<!--                        </div>-->
<!--                        <div class="field">-->
<!--                            <div class="ui labeled action input">-->
<!--                                <div class="ui type selection dropdown">-->
<!--                                    <input type="hidden" name="typeId">-->
<!--                                    <i class="dropdown icon"></i>-->
<!--                                    <div class="default text">分类</div>-->
<!--                                    <div class="menu">-->
<!--                                        <div each="type : ${types}" class="item" data-value="1" th:data-value="${type.id}" th:text="${type.name}">旅行</div>-->
<!--                                        &lt;!&ndash;/*&ndash;&gt;-->
<!--                                        <div class="item" data-value="2">生活</div>-->
<!--                                        <div class="item" data-value="3">Spring</div>-->
<!--                                        &lt;!&ndash;*/&ndash;&gt;-->
<!--                                    </div>-->
<!--                                </div>-->

<!--                                &lt;!&ndash;清除按钮&ndash;&gt;-->
<!--                                <button id="clear-btn" class="ui compact button">clear</button>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="field">-->
<!--                            &lt;!&ndash;推荐&ndash;&gt;-->
<!--                            <div class="ui checkbox">-->
<!--                                <input type="checkbox"  id="recommend" name="recommend">-->
<!--                                <label for="recommend">推荐</label>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="field">-->
<!--                            &lt;!&ndash;搜索&ndash;&gt;-->
<!--                            <button  type="button" id="search-btn" class="ui tiny teal  button"><i class="search icon"></i>搜索</button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
                <!--博客列表-->
                <div id="table-container">
                    <table fragment="blogList" class="ui selectable compact teal table">
                        <thead>
                        <tr >
                            <th>序号</th>
                            <th>标题</th>
                            <th>状态</th>
                            <th>更新时间</th>
                            <th style="width:100px;">操作</th>
                        </tr>
                        <tbody>
                        <tr v-for="(article , index) in myArticle">
                            <td >{{article.articleId}}</td>
                            <td >{{article.articleTitle}}</td>
                            <td >{{article.checkStatus == 0 ? "未审核" : "审核通过"}}</td>
                            <td >{{article.createTime | formatDate}}</td>
                            <td data-label="make">
                                <a @click="del(index)" class="ui m-margin-right tiny red button">删除</a>
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <!--分页组件-->
                        <th colspan="7">
                            <div class="ui mini pagination menu" >
                                <a @click="proPage()"  class="item" >上一页</a>
                                <a @click="nextPage()"  class=" item" >下一页</a>
                            </div>
                            <a href="blogs-input.html"  class="ui tiny orange right floated button">新增</a>
                        </th>
                        </tfoot>
                    </table>
                </div>
<!--                &lt;!&ndash;操作提示信息&ndash;&gt;-->
<!--                <div class="ui success message" th:unless="${#strings.isEmpty(message)}">-->
<!--                    <i class="close icon"></i>-->
<!--                    <div class="header">提示：</div>-->
<!--                    <p th:text="${message}">恭喜，操作成功！</p>-->
<!--                </div>-->
            </div>
        </div>
        <br>
        <br>
        <!--底部-->
        <footer class="ui inverted vertical segment m-padded-tb-massive ">
            <div class="ui center aligned container ">

            </div>
        </footer>
    </div>


    <!--/*/<th:block th:replace="admin/_fragments :: script">/*/-->
        <!--引入jQuery-->
    <script src="../plugins/jquery/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
    <script src="../mydist/js/vue.js"></script>
    <!--/*/</th:block>/*/-->
    <!--声明行内js代码域-->
    <script type="text/javascript">
        function formatDate(date, fmt) {
            if (/(y+)/.test(fmt)) {
                fmt = fmt.replace(RegExp.$1, (date.getFullYear() + '').substr(4 - RegExp.$1.length));
            }
            let o = {
                'M+': date.getMonth() + 1,
                'd+': date.getDate(),
                'h+': date.getHours(),
                'm+': date.getMinutes(),
                's+': date.getSeconds()
            };
            for (let k in o) {
                if (new RegExp(`(${k})`).test(fmt)) {
                    let str = o[k] + '';
                    fmt = fmt.replace(RegExp.$1, (RegExp.$1.length === 1) ? str : padLeftZero(str));
                }
            }
            return fmt;
        };

        function padLeftZero(str) {
            return ('00' + str).substr(str.length);
        }
        let personVue = new Vue({
            el:"#indexApp",
            created(){
                this.getData();
                this.getArticle();
            },
            data:{
                users:{},
                myArticle:[],
                pageInfo:[],
            },
            filters: {
                formatDate(time) {
                    let date = new Date(time);
                    return formatDate(date,'yyyy-MM-dd hh:mm');
                }
            },
            methods:{
                nextPage(){
                    if(personVue.pageInfo.hasNextPage){
                        let data = {"page":personVue.pageInfo.pageNum+1};
                        $.ajax({
                            //请求方式
                            type : "POST",
                            //请求的媒体类型
                            contentType: "application/json;charset=UTF-8",
                            //请求地址
                            url : "http://localhost:8080/yuanda/user/searcharticlebyuserid",
                            //数据，json字符串
                            data: JSON.stringify(data),
                            success: function (result) {
                                personVue.pageInfo = result.data;
                                personVue.myArticle = result.data.list;
                            },
                            error: function () {
                                alert("请先登陆");

                            }

                        })
                    }else{
                        alert("已经是最后一页了！");
                    }
                },
                proPage(){
                    if(personVue.pageInfo.hasPreviousPage){
                        let data = {"page":personVue.pageInfo.pageNum-1};
                        $.ajax({
                            //请求方式
                            type : "POST",
                            //请求的媒体类型
                            contentType: "application/json;charset=UTF-8",
                            //请求地址
                            url : "http://localhost:8080/yuanda/user/searcharticlebyuserid",
                            //数据，json字符串
                            data: JSON.stringify(data),
                            success: function (result) {
                                personVue.pageInfo = result.data;
                                personVue.myArticle = result.data.list;
                            },
                            error: function () {
                                alert("操作失败");
                            }

                        })
                    }else{
                        alert("已经是最后一页了！");
                    }
                },
                del(index){
                    let data = {"articleId":personVue.myArticle[index].articleId};
                    $.ajax({
                        //请求方式
                        type : "POST",
                        //请求的媒体类型
                        contentType: "application/json;charset=UTF-8",
                        //请求地址
                        url : "http://localhost:8080/yuanda/user/delarticlebyarticleid",
                        //数据，json字符串
                        data: JSON.stringify(data),
                        success: function (result) {
                            alert(result.message);
                            window.location.reload();
                        },
                        error: function () {
                            alert("操作失败");
                        }

                    })
                },
                getArticle(){
                    let data = {};
                    $.ajax({
                        //请求方式
                        type : "POST",
                        //请求的媒体类型
                        contentType: "application/json;charset=UTF-8",
                        //请求地址
                        url : "http://localhost:8080/yuanda/user/searcharticlebyuserid",
                        //数据，json字符串
                        data: JSON.stringify(data),
                        success: function (result) {
                            personVue.pageInfo = result.data;
                            personVue.myArticle = result.data.list;
                        },
                        error: function () {
                            window.location.href="login.html";
                            alert("操作失败");
                        }

                    })
                },
                getData(){
                    $.ajax({
                        //请求方式
                        type : "POST",
                        //请求的媒体类型
                        contentType: "application/json;charset=UTF-8",
                        //请求地址
                        url : "http://localhost:8080/yuanda/persons/user/searchUserByUserId",
                        //数据，json字符串
                        success: function (result) {
                            personVue.users = result.data;
                            console.log(personVue.users);
                        },
                        error: function () {
                            window.location.href="login.html";
                            alert("操作失败");
                        }

                    });
                },
            }
        });
        $('.menu.toggle').click(function () {
            $('.m-item').toggleClass('m-mobile-hide');
        });

        $('.ui.dropdown').dropdown({
            on:'hover'
        });
        /*分页*/
        function page(obj) {
            $("[name='page']").val($(obj).data("page"));
            loaddata();
        }

        $("#search-btn").click(function () {
            $("[name='page']").val(0);
            loaddata();
        });

        $("#search-btn").click(function () {
            loaddata();
        });

        /*清除按钮*/
        $('#clear-btn')
            .on('click', function() {
                $('.ui.type.dropdown')
                    .dropdown('clear')
                ;
            })
        ;

        /*ajax请求*/
        function loaddata() {
            $("#table-container").load(/*[[@{/admin/blogs/search}]]*/"/admin/blogs/search",{
                title : $("[name='title']").val(),
                typeId : $("[name='typeId']").val(),
                recommend : $("[name='recommend']").prop('checked'),
                page : $("[name='page']").val()
            });
        }

        //消息提示关闭初始化
        $('.message .close')
            .on('click', function () {
                $(this)
                    .closest('.message')
                    .transition('fade');
            });

    </script>
</body>
</html>