<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <!--移动端预览-->
    <meta name="viewport" content="device-width, initial-scale=1.0">

    <title>后台管理-博客管理</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <!--引入自定义CSS-->
    <link rel="stylesheet" href="../plugins/blog/css/me.css">
</head>
<body>
<!--导航-->
<nav  class="ui inverted attached segment segment m-padded-tb-mini m-shadow-small">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">个人管理</h2>
            <a href="../index.html" class="m-item item m-mobile-hide" ><i class="small tags icon"></i>前台</a>
            <a href="index.html" class="m-item active item m-mobile-hide"><i class="small home icon"></i>个人中心</a>
            <div class="right m-item item m-mobile-hide">
                <form name="search" action="" target="_blank" method="post">
                    <div class="ui icon inverted  input">
                        <input type="text" name="query" placeholder="Search.." >
                        <i onclick="document.forms['search'].submit()" class="search icon link"></i>
                    </div>
                </form>
            </div>
            <div class="right m-item m-mobile-hide menu">
                <div class="ui dropdown item">
                    <div class="text">
                        <img class="ui avatar image" :src="userPicture">
                        <span type="text" >  </span>
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="#"  class="item">注销</a>
                        <a class="item">编辑个人信息</a>
                        <a  class="item" href="notification.html">通知</a>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
    <!--menu toggle无任何显示意思-->
    <a href="" class="ui icon menu toggle black button m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav><!--二级导航-->
<div id="app">
    <div class="ui attached pointing menu">
        <div class="ui container">
            <div class="right menu">
                <a href="blogs-input.html"  class="item">发布</a>
                <a href="blogs.html"   class="item">列表</a>
                <a href="favorites.html"  class="item">我的收藏夹</a>
                <a href="person.html"   class="item">个人中心</a>
            </div>
        </div>
    </div>
    <div class="m-container m-padded-tb-big" >
        <div class="ui container">
            <div class="ui stackable grid">
                <!--左边博客列表-->
                <div class="eleven wide column">
                    <!--header-->
                    <div class="ui top attached segment">
                        <div class="ui middle aligned two column grid">
                            <div class="column">
                                <a href="favorites.html">返回我的收藏夹</a>
                                <h3 class="m-black">{{favorites.favoritesName}}</h3>
                                <div class="ui horizontal bulleted list">
                                    <a class="item" onclick="modal()">
                                        编辑该收藏夹
                                    </a>
                                    <a class="item" @click="delFavorites()">
                                        删除该收藏夹
                                    </a>
                                </div>
                                <div class="ui modal">
                                    <div class="header" >编辑收藏夹</div>
                                    <div class="content">
                                        <div class="ui " >
                                            <label for="editfavoritesName">收藏夹名字</label>
                                            <input type="text" value="" v-model="favoritesName" id="editfavoritesName" >
                                        </div>
                                    </div>
                                    <div class="actions">
                                        <div class="ui m-black cancel  button">
                                            <i class="remove icon"></i>
                                            取消
                                        </div>
                                        <div class="ui m-black ok  button" onclick="editFavorites()">
                                            <i class="checkmark icon"></i>保存
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="right aligned column">
                                共 <h2 class="ui orange header m-inline-blok m-text-thin" >{{favorites.favoritesNumber}}</h2>条
                            </div>
                        </div>
                    </div>
                    <!--content-->
                    <!--                    文章信息展示-->
                    <div v-for="(favoritesConnection,index) in favoritesConnections">
                        <div class="ui attached segment">
                            <div class="ui padded vertical segment m-padded-tb-large" >
                                <!--mobile reversed反序-->
                                <div class="ui middle aligned grid mobile reversed stackable" >
                                    <div class="eleven wide column">
                                        <h3><a href="#"  target="_blank" class="m-black" >标题：{{favoritesConnection.contentTitle}}</a></h3>
                                        <div class="content"> <a href="#" class="header" >作者：{{favoritesConnection.author}}</a></div>
                                        <div class="content"> 类型：{{favoritesConnection.type == 1 ? "文章":"回答"}}</div>
                                        <div class="ui grid">
                                            <div class="eleven wide column">
                                                <div class="ui mini horizontal link list">
                                                    <br>
                                                    <div class="item">
                                                        <a @click="tohref(index)"> <i class="eye icon"></i><span >去往该记录详情页</span></a>
                                                    </div>
                                                    <div class="item" >
                                                        <a @click="delFavoritesConnection(index)"><i class="eye icon"></i><span >删除该记录</span></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--footer-->
                </div>
                <div class="five wide column">
                    <!--分类-->

                    <div class="ui segments">
                        <div class="ui secondary segment">
                            <div class="ui two column grid">
                                <div class="column">
                                    <i class="idea icon"></i>分类
                                </div>
                                <div class="right aligned column">
                                    <a href="#"  target="_blank">more <i class="angle double right icon"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="ui teal segment">
                            <div class="ui fluid vertical menu" >
                                <a href="#"  class="item" >
                                    <span >学习日志</span>
                                    <div class="ui teal basic left pointing label" >10</div>
                                </a>
                                <!--/*-->
                                <a href="#" class="item">
                                    JavaEE学习
                                    <div class="ui teal basic left pointing label">10</div>
                                </a>
                                <a href="#" class="item">
                                    历史人文
                                    <div class="ui teal basic left pointing label">10</div>
                                </a>
                                <a href="#" class="item">
                                    生活
                                    <div class="ui teal basic left pointing label">10</div>
                                </a>
                                <a href="#" class="item">
                                    旅行
                                    <div class="ui teal basic left pointing label">10</div>
                                </a>
                                <a href="#" class="item">
                                    成长
                                    <div class="ui teal basic left pointing label">10</div>
                                </a>
                                <!--*/-->
                            </div>
                        </div>
                    </div>
                    <!--标签-->
                    <div class="ui segments m-margin-top-large">
                        <div class="ui secondary segment">
                            <div class="ui two column grid">
                                <div class="column">
                                    <i class="tags icon"></i>标签
                                </div>
                                <div class="right aligned column">
                                    <a href="#"  target="_blank">more <i class="angle double right icon"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="ui teal segment">
                            <a href="#"  class="ui teal basic center pointing label" >
                                <span >JavaEE</span>
                                <div class="detail" >23</div>
                            </a>
                            <!--/*-->
                            <a href="" class="ui teal basic center pointing label ">
                                Spring
                                <div class="detail">23</div>
                            </a>
                            <a href="" class="ui teal basic center pointing label ">
                                SpringMVC
                                <div class="detail">23</div>
                            </a>
                            <a href="" class="ui teal basic center pointing label ">
                                SpringBoot
                                <div class="detail">23</div>
                            </a>
                            <a href="" class="ui teal basic center pointing label ">
                                JavaSE
                                <div class="detail m-margin-tb-tiny ">23</div>
                            </a>
                            <!--*/-->

                        </div>
                    </div>
                    <!--最新推荐-->
                    <div class="ui segments m-margin-top-large">
                        <div class="ui secondary segment">
                            <i class="bookmark icon"></i>最新推荐
                        </div>

                        <div class="ui segment"  >
                            <a href="#" class="m-black m-text">SpringBoot的原理分析..</a>
                        </div>
                        <!--/*-->
                        <div class="ui segment">
                            <a href="#" class="m-black m-text">MyBaits运行原理..</a>
                        </div>
                        <div class="ui segment">
                            <a href="#" class="m-black m-text">Eclipse快捷键总结..</a>
                        </div>
                        <div class="ui segment">
                            <a href="#" class="m-black m-text" >idea的基本操作和基本配置..</a>
                        </div>
                        <!--*/-->
                    </div>
                    <!--二维码-->
                    <h4 class="ui horizontal divider header m-margin-top-large">联系博主（微信）</h4>
                    <div class="ui card centered" style="width: 11em">
                        <img src="images/WeChat.jpg"  alt="" class="ui rounded image" >
                    </div>
                    <div class="ui basic segment">
                        <a href="https://github.com/yerenping" class="ui circular icon button m-margin-left-big"><i class="github icon"></i></a>
                        <a href="#" class="ui wc circular icon button"><i class="weixin icon"></i></a>
                        <a href="#" class="ui circular icon button"><i class="qq icon" data-content="1515177029" data-position="bottom center"></i></a>
                        <a href="https://space.bilibili.com/393270022" class="ui circular icon button"><i class=" icon">B</i></a>
                    </div>
                    <div class="ui wc-qr flowing popup transition hidden">
                        <img src="../static/images/WeChat.jpg"  alt="" class="ui rounded image" style="width: 130px">
                    </div>
                    <!--打赏博主-->
                    <h4 class="ui horizontal divider header m-margin-top-large">打赏博主</h4>
                    <div class="ui segment">
                        <div class="ui two column grid">
                            <div class="column">
                                <!--微信打赏-->
                                <img src="../static/images/pay_wechat.jpg"  alt="" class="ui rounded image" style="width: 100px">
                            </div>
                            <div class="right aligned column">
                                <!--支付宝打赏-->
                                <img src="../static/images/pay_baby.jpg"  alt="" class="ui rounded image" style="width: 100px">
                            </div>
                        </div>
                    </div>
                    <!--友情链接-->
                    <h4 class="ui horizontal divider header" >友情链接</h4>
                    <div class="ui segments">
                        <div class="ui  segment">
                            <a href="http://www.zbboke.com">张兵的个人网站</a>
                        </div>
                        <div class="ui segment">
                            <a href="http://www.loveif.com/">小兔博客</a>
                        </div>
                        <div class="ui segment">
                            <a href="https://www.duanliang920.com/">段亮博客</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!--中间内容-->

<br>
<br>
<!--底部-->
<footer  >
    <div class="ui center aligned container ">
        <div class="ui inverted divided stackable grid">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <h4 class="ui inverted header m-opacity-min">站长微信</h4>
                    <div class="item">
                        <img src="../../static/images/WeChat.jpg" CLASS="ui rounded image" alt="" style="width:110px">
                    </div>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-opacity-min">最新博客</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">2019一年收获总结</a>
                    <a href="#" class="item">idea的操作笔记</a>
                    <a href="#" class="item">SpringBoot学习计划</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-opacity-min">联系作者</h4>
                <div class="ui inverted link list">
                    <a href="https://space.bilibili.com/393270022" class="item">b站</a>
                    <a href="#" class="item">QQ:1515177029</a>
                    <a href="#" class="item">邮箱:yerenping@aliyun.com</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header m-opacity-min">关于作者</h4>
                <p class="m-text-thin m-text-spaced m-opacity-min m-text-lined">作者是一名springboot爱好者,是一名正在努力奋斗的学生,主要学习JavaEE开发,Web前端等技术.作者是个喜欢旅行的孩子,目标是游遍全世界！</p>
            </div>
        </div>
        <!--分割线-->
        <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-text-spaced m-opacity-tiny">Copy © 2019 - 2020 作者:小小叶儿 此站仅供个人所有 如有疑问联系作者</p>
    </div>
</footer>

<!--/*/<th:block th:replace="admin/_fragments :: script">/*/-->
<!--引入jQuery-->
<script src="../plugins/jquery/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<script src="../mydist/js/vue.js"></script>
<script src="../mydist/js/utils.js"></script>
<script src="../mydist/js/public.js"></script>
<script src="../mydist/js/favorites-detail.js"></script>
<!--/*/</th:block>/*/-->
<!--声明行内js代码域-->
<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.ui.dropdown').dropdown({
        on:'hover'
    });
    /*分页*/
    function page(obj) {
        $("[name='page']").val($(obj).data("page"));
        loaddata();
    }

    $("#search-btn").click(function () {
        $("[name='page']").val(0);
        loaddata();
    });

    $("#search-btn").click(function () {
        loaddata();
    });

    /*清除按钮*/
    $('#clear-btn')
        .on('click', function() {
            $('.ui.type.dropdown')
                .dropdown('clear')
            ;
        })
    ;

    /*ajax请求*/
    function loaddata() {
        $("#table-container").load(/*[[@{/admin/blogs/search}]]*/"/admin/blogs/search",{
            title : $("[name='title']").val(),
            typeId : $("[name='typeId']").val(),
            recommend : $("[name='recommend']").prop('checked'),
            page : $("[name='page']").val()
        });
    }

    //消息提示关闭初始化
    $('.message .close')
        .on('click', function () {
            $(this)
                .closest('.message')
                .transition('fade');
        });

</script>
</body>
</html>