<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--移动端预览-->
    <meta name="viewport" content="device-width, initial-scale=1.0">

    <title>后台管理-新增博客</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <!--引入自定义CSS-->
    <link rel="stylesheet" href="../plugins/blog/css/me.css">
    <link href="../plugins/jqgrid-5.3.0/ui.jqgrid-bootstrap4.css" rel="stylesheet"/>
</head>
<body>
    <!--导航-->
    <div id="personApp">
        <nav replace="admin/_fragments :: menu(1)" class="ui inverted attached segment segment m-padded-tb-mini m-shadow-small">
            <div class="ui container">
                <div class="ui inverted secondary stackable menu">
                    <h2 class="ui teal header item">个人管理</h2>
                    <a href="../index.html" class="m-item item m-mobile-hide" ><i class="small tags icon"></i>前台</a>
                    <a href="#" class="m-item active item m-mobile-hide"><i class="small home icon"></i>个人中心</a>
                    <div class="right m-item item m-mobile-hide">
                        <form name="search" action="" target="_blank" method="post">
                            <div class="ui icon inverted  input">
                                <input type="text" name="query" placeholder="Search.." value="">
                                <i onclick="document.forms['search'].submit()" class="search icon link"></i>
                            </div>
                        </form>
                    </div>
                    <div class="right m-item m-mobile-hide menu">
                        <div class="ui dropdown item">
                            <div class="text">
                                <img class="ui avatar image"  :src="users.userPicture">
                                <span type="text" >{{users.userName}}</span>
                            </div>
                            <i class="dropdown icon"></i>
                            <div class="menu">
                                <a href="login.html"  class="item">注销</a>

                                <a class="item" href="person.html">编辑个人信息</a>
                                <a class="item" href="notification.html">通知</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!--menu toggle无任何显示意思-->
            <a href="" class="ui icon menu toggle black button m-right-top m-mobile-show">
                <i class="sidebar icon"></i>
            </a>
        </nav><!--二级导航-->
        <div class="ui attached pointing menu">
            <div class="ui container">
                <div class="right menu">
                    <a href="blogs-input.html" class="item">发布</a>
                    <a href="blogs.html"  class="item">列表</a>
                    <a href="favorites.html" class="item">我的收藏夹</a>
                    <a href="person.html" class="item">个人中心</a>
                </div>
            </div>
        </div>
        <!--中间内容-->
        <div class="m-container  m-padded-tb-big">
            <!--适应移动端手机-->
            <div class="ui container" id="userList">

                <div id="blog-form" action="#" object=""  method="post" class="ui form">
                    <input type="hidden" name="id" value="">
                    <!--判断是状态-保存、发布....-->
                    <input type="hidden" name="published">

                    <h4 class="ui horizontal divider header">
                        <i class="tag icon"></i>
                        必填信息
                    </h4>

                    <div class="two fields">
                        <div class="field">
                            <div class="ui right labeled left icon input">
                                <i class="tags icon"></i>
                                <input type="text" v-model="users.userId" name="userId" id="userId" readonly>
                                <a class="ui tag label">
                                    用户编号
                                </a>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui right labeled left icon input">
                                <i class="tags icon"></i>
                                <input type="text" v-model="users.userName" placeholder="输入你的用户名" name="userName" id="userName" />
                                <a class="ui tag label">
                                    用户名
                                </a>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui right labeled input">
                                <i class="tags icon"></i>
                                <input type="text" v-model="users.email" placeholder="输入你的邮箱"   id="email" name="email">
                                <a class="ui tag label">
                                    邮箱
                                </a>
                            </div>
                        </div>
                    </div>
                    <h4 class="ui horizontal divider header">
                        <i class="bar chart icon"></i>
                        基本个人信息
                    </h4>
                    <div class="ui form fields">

                        <div class="inline field" style="margin-left: 30px">
                            <div class="ui calendar brithday" >
                                <label>生日：</label>
                                <div class="ui input right icon">
                                    <i class="calendar icon"></i>
                                    <input type="text" v-model="users.userBrithday" placeholder="输入你的生日" id="userBrithday" name="userBrithday" >
                                </div>
                            </div>
                        </div>

                        <div class="inline field" style="margin-left: 70px">
                            <div class="ui" >
                                <label>电话：</label>
                                <div class="ui input right icon">
                                    <i class="phone volume icon"></i>
                                    <input type="text" v-model="users.telphone" placeholder="请输入电话" id="telphone" name="telphone">
                                </div>
                            </div>
                        </div>

                        <div class="ui field right" style="margin-left: 70px">
                            <div class="inline fields" style="margin-top: 10px">
                                <div class="field">
                                    <label class="control-label">性别:</label>
                                    <input name="userSex" v-model="users.userSex" type="radio" value="0" checked="checked" id="userSex"/>男
                                    <input name="userSex" v-model="users.userSex" type="radio" value="1" />女
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="fields" id="picture">

                        <div class="field" style="margin-top: 100px">
                            头像:
                        </div>
                        <div class="field" style="margin-left: 50px">
                            <a class="ui green left ribbon label">点击修改头像</a>
                            <img id="personPicture" class="ui small bordered image" :src="users.userPicture">
                            <div id="personPicturePath" style="display: none"></div>
                        </div>

                        <div class="field" style="margin-top: 100px;margin-left: 150px">
                            背景图片:
                        </div>
                        <div class="field" style="margin-left: 50px">
                            <a class="ui green left ribbon label">点击修改背景图片</a>
                            <img id="bgPicture" class="ui medium bordered image"  :src="users.userBackground">
                            <div id="bgPicturePath" style="display: none"></div>

                        </div>

                    </div>

                    <!--个人简介描述文本域-->
                    <div class="required field">
                        <label>个人简介：</label>
                        <textarea name="userDescript" id="userDescript" text="" v-model="users.userDescript" placeholder="个人简介描述..." maxlength="200"></textarea>
                    </div>
                    <!--表单校验-->
                    <!--错误提示-->
                    <div class="ui error message">

                    </div>

                    <!--返回、保存、发布-->
                    <div class="ui right aligned container">
                        <!--onclick="window.history.go(-1)返回上一页面-->
                        <button type="button" class="ui button" onclick="">返回</button>

                        <a  type="button" onclick="editusers()" id="save-btn" class="ui green button">保存修改</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">

            <!-- /.modal -->
        </div>
        <br>
        <br>
        <!--底部-->
        <footer replace="admin/_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive ">
            <div class="ui center aligned container ">

            </div>
        </footer>

    </div>


    <!--/*/<th:block th:replace="admin/_fragments :: script">/*/-->
    <script src="../plugins/jquery/jquery.js"></script>
    <script src="../plugins/axios/ajaxupload.js"></script>
    <!-- /#right-panel -->
    <!-- jQuery -->
    <script src="../plugins/sweetalert/sweetalert.min.js"></script>
    <!--引入jQuery-->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
    <!--引入sementic-ui模板所需要的js-->
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
    <!--引入Markdown插件需要引入的js-->
    <script src="../mydist/js/vue.js"></script>
<!--    引入服务器文件上传所需js-->
    <script src="../plugins/ajaxupload"></script>
<!--    <script src="../plugins/plupload-2.1.2/js/plupload.full.min.js"></script>-->
<!--    <script src="../mydist/js/upload.js"></script>-->


    <!--声明行内js代码域-->
    <script type="text/javascript">
        $(function () {
            new AjaxUpload("#personPicture",{
                action: "/yuanda/images",
                name: 'upload',
                autoSubmit: true,
                responseType: "json",
                onSubmit: function (file, extension) {
                    if (!(extension && /^(jpg|jpeg|png|gif)$/.test(extension.toLowerCase()))) {
                        alert('只支持jpg、png、gif格式的图片！', {
                            icon: "error",
                        });
                        return false;
                    }
                },
                onComplete: function (file, r) {
                    if (r.uploaded == 1) {
                        alert("上传成功");
                        //$("#img").attr('src',r.date);
                        $("#personPicturePath").val(r.fileName);
                        $("#personPicture").attr("src", r.fileName);
                        console.log("src:" + r.fileName);
                        // $("#img").attr("style", "width: 100px;height: 100px;display:block;");
                        return false;
                    } else {
                        alert("上传失败");
                    }
                }
            });
            new AjaxUpload("#bgPicture",{
                action: "/yuanda/images",
                name: 'upload',
                autoSubmit: true,
                responseType: "json",
                onSubmit: function (file, extension) {
                    if (!(extension && /^(jpg|jpeg|png|gif)$/.test(extension.toLowerCase()))) {
                        alert('只支持jpg、png、gif格式的图片！', {
                            icon: "error",
                        });
                        return false;
                    }
                },
                onComplete: function (file, r) {
                    if (r.uploaded == 1) {
                        alert("上传成功");
                        //$("#img").attr('src',r.date);
                        $("#bgPicturePath").val(r.fileName);
                        $("#bgPicture").attr("src", r.fileName);
                        console.log("src:" + r.fileName);
                        // $("#img").attr("style", "width: 100px;height: 100px;display:block;");
                        return false;
                    } else {
                        alert("上传失败");
                    }
                }
            });
        });

        function checkForm() {
            var formData = new FormData($("#userPictureAdd")[0]);
            $.ajax({
                url : "/images/upload",
                type : 'POST',
                data : formData,
                cache: false,
                async: false,
                processData : false,  //必须false才会避开jQuery对 formdata 的默认处理
                contentType : false,  //必须false才会自动加上正确的Content-Type

                success: function (data) {
                    console.log("成功");
                },
                error: function (data) {
                    console.log("失败");
                }
            });
        }



        let personVue = new Vue({
            el:"#personApp",
            created(){
                this.getData()
            },
            data:{
                users:{}
            },
            methods:{
                getData(){
                    $.ajax({
                        //请求方式
                        type : "POST",
                        //请求的媒体类型
                        contentType: "application/json;charset=UTF-8",
                        //请求地址
                        url : "http://localhost:8080/yuanda/persons/user/searchUserByUserId",
                        //数据，json字符串
                        success: function (result) {
                            personVue.users = result.data;
                            console.log(personVue.users);
                        },
                        error: function () {
                            alert("操作失败");
                        }

                    })
                },
            }
        });
        function editusers(){
            console.log("进入");
            var userId = $("#userId").val();
            var userName = $("#userName").val();
            var email = $("#email").val();
            var userPicture = $("#personPicturePath").val();
            var userBackground = $("#bgPicturePath").val();
            var userBrithday = $("#userBrithday").val();
            var telphone = $("#telphone").val();
            var userSex = $('input:radio[name="userSex"]:checked').val();
            var userDescript = $("#userDescript").val();

            console.log(userId+"----"+userName+"----"+userSex+"----"+userBrithday+"----"+
                userPicture+"----"+userBackground+"----" +email+"----"+telphone+"----"+
                userDescript);
            if(userName == null || userName == "" || userName.trim()==""){
                $("#error").css("display","block");
                $("#error").html("用户名不能为空");
                return false;
            }
            if(userSex == null || userSex == "" || userSex.trim()==""){
                $("#error").css("display","block");
                $("#error").html("性别不能为空");
                return false;
            }
            if(email==null || email == "" || email.trim()==""){
                $("#error").css("display","block");
                $("#error").html("邮箱不能为空");
                return false;
            }
            if(userPicture==null || userPicture == "" || userPicture.trim()==""){
                $("#error").css("display","block");
                $("#error").html("头像不能为空");
                return false;
            }
            if(userBackground==null || userBackground == "" || userBackground.trim()==""){
                $("#error").css("display","block");
                $("#error").html("背景图片不能为空");
                return false;
            }
            if(telphone == null || telphone == "" || telphone.trim()==""){
                $("#error").css("display","block");
                $("#error").html("电话不能为空");
                return false;
            }
            if(userDescript == null || userDescript == "" || userDescript.trim()==""){
                $("#error").css("display","block");
                $("#error").html("用户描述不能为空");
                return false;
            }
            if(userBrithday == null || userBrithday == "" || userBrithday.trim()==""){
                $("#error").css("display","block");
                $("#error").html("生日不能为空");
                return false;
            }
            var data = {"userId":userId,"userBrithday" : userBrithday,"userName" : userName,
                "userPicture":userPicture,"userBackground":userBackground, "userSex":userSex,
                "email":email ,"telphone":telphone,"userDescript":userDescript};
            $.ajax({
                //请求方式
                type : "POST",
                //请求的媒体类型
                contentType: "application/json;charset=UTF-8",
                //请求地址
                url : "http://localhost:8080/yuanda/persons/user/edituser",
                //数据，json字符串
                data : JSON.stringify(data),
                success: function (result) {
                    if (result.result) {
                        alert("修改成功");
                        window.location.href="http://localhost:8080/yuanda/person/person.html";
                    }
                    else {
                        console.log(result.message+"--"+result.result);
                        alert("保存失败");
                    }
                },
                error: function () {
                    alert("操作失败");
                }

            })
        }

        $('.userBrithday').calendar({
            type: 'datetime',//datatime年月日时分  data就是年月日
            ampm: false,//默认会有 上午，下午，或者AM PM，false就会没有默认的PM AM上午下午；文档写的是中文要在text里设置，但是我写的时候本地好好的是英文，但是一上线就成了中文，如 9:00 上午，所以该处设置成了false
            // endCalendar: $('.end_time'),//开始时间选好后，会调起结束时间，而且结束时间不会大于开始时间
            formatter: { // 自定义日期的格式
                date: function(date, settings) {
                    if (!date) return '';
                    var year  = date.getFullYear();
                    var month = date.getMonth() + 1;
                    var day   = date.getDate();
                    month = month < 10 ? '0'+month : month;
                    day   = day   < 10 ? '0'+day : day;
                    return year + '-' + month + '-' + day;//不写时分hours minute也会返回
                }
            }
        });

        /*移动端显示导航栏设置*/
        $('.menu.toggle').click(function () {
            $('.m-item').toggleClass('m-mobile-hide');
        });
        /*导航栏用户注销显示*/
        $('.ui.dropdown').dropdown({
            on : 'hover'
        });

        $('#save-btn').click(function () {
            $('[name="published"]').val(false);
            $('#blog-form').submit();
        });


        $('#publish-btn').click(function () {
            $('[name="published"]').val(true);
            $('#blog-form').submit();
        });

        /*表单校验*/
        $('.ui.form').form({
           fields:{
               title:{
                   identifier:'title',
                   rules : [{
                       type : 'empty',
                       prompt:'请输入文章标题！'
                   }]
               },
               content : {
                   identifier:'content',
                   rules : [{
                       type : 'empty',
                       prompt:'请输入文章内容！'
                   }]
               },
               typeId : {
                   identifier : 'type.id',
                   rules : [{
                       type: 'empty',
                       prompt:'请选择文章分类！'
                   }]
               },
               firstPicture : {
                   identifier : 'firstPicture',
                   rules : [{
                       type: 'empty',
                       prompt:'请填写首图地址！'
                   }]
               },
               description  : {
                   identifier : 'description ',
                   rules : [{
                       type: 'empty',
                       prompt:'请填入博客描述！'
                   }]
               }
           }
        });
    </script>
</body>
</html>